<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <style>
        body {
            background-image: url('octopus-chip.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Inter', serif;
            color: white;
        }
    </style>
</head>
<body>
<h1><%= greeting %> World!</h1>
<p>Environment: <%= environment %></p>
</body>
</html>